html{
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  box-sizing: inherit;
  position: relative;
  background-image:url("../images/indianaJonesBackground2.png");
  color: white;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
}

img{
  width: 80%;
  height: auto;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;

}



.gameInfo {
  clear: both;
}

.buttonArea {
  margin-bottom: 5%;
}

.gameButtons {
  padding: 10px 5px;
  margin: 10px;
  font-size: 20px;
  font-family: 'Bungee Inline', cursive;
  margin-left: auto;
  margin-right: auto;

}

.gameButtons:hover {
  background-color: #b1604b;
  border: none;
  font-family: 'Bungee Inline', cursive;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  padding: 1% 0 1% 0;
}
